/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li,
ol li {
  text-decoration: none;
  list-style: none;
}

ul a,
ol a {
  text-decoration: none;
  color: black;
}

/* Hero section */

.header {
  width: 100%;
  height: 1vh;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0);
}

.header__nav {
  margin-top: 0;
  width: 100%;
  height: 1vh;
  display: flex;
  flex-direction: row;
  margin-right: 0;
  order: 1;
}

/* Mobile menu */

.top-bar {
  width: 100%;
  display: flex;
  justify-content: end;
  background: rgba(255, 255, 255, 1);
}

.icon-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon-menu__bar {
  background: rgba(40, 53, 47, 1);
  width: 20px;
  height: 3px;
  border-radius: 4px;
  position: relative;
}

.icon-menu__bar::after,
.icon-menu__bar::before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 4px;
  background: rgba(40, 53, 47, 1);
  top: -0.5em;
}

.icon-menu__bar::after {
  top: 0.5em;
}

.menu {
  width: 100%;
  height: 1000vh;
  background: rgba(255, 255, 255, 1);
  padding-left: 25px;
  padding-top: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.menu-show {
  transform: translateX(0);
}

.menu__item--close {
  width: 5%;
  margin-left: 300px;
}

.menu__link {
  color: rgba(58, 74, 66, 1);
  font-style: normal;
  font-size: 2rem;
  font-weight: 600;
  line-height: 4.5rem;
}

/* Headline styles */
.headline-container {
  width: 100%;
  height: 95vh;
  background-image: url(./assets/background_image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-attachment: fixed;
}

.headline {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline__title--black {
  width: 50%;
  margin-top: 120px;
  text-align: center;
  line-height: 52px;
  font-weight: 700;
  font-size: 2em;
  font-style: normal;
  color: rgba(23, 43, 77, 1);
}

.headline__title--green {
  width: 60%;
  margin-top: 5px;
  text-align: center;
  line-height: 52px;
  font-weight: 700;
  font-size: 2em;
  font-style: normal;
  color: rgba(54, 179, 126, 1);
}

.headline__text {
  width: 85vw;
  margin-top: 10px;
  text-align: center;
  line-height: 28px;
  font-weight: 400;
  font-size: 1.2em;
  font-style: normal;
  color: rgba(23, 43, 77, 1);
}

.social-icons ul {
  width: 50vw;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.headline__action {
  width: 30vw;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Projects */
.projects {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__title {
  width: 70%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  font-style: normal;
  line-height: 52px;
  color: rgba(23, 43, 77, 1);
}

.projects__indicator {
  border: solid rgba(54, 179, 126, 1) 2px;
  border-radius: 24px;
  width: 48px;
  height: 4px;
  margin-top: 24px;
}

.projects-container {
  width: 95%;
  margin-top: 38px;
  display: grid;
  justify-items: center;
}

.projects__card {
  border: 1px solid rgba(208, 217, 212, 1);
  background-color: rgba(235, 240, 238, 1);
  border-radius: 8px;
  width: 90%;
  margin-top: 24px;
}

.projects__card--img {
  width: 100%;
  margin-top: 0;
  margin-bottom: -30px;
}

.projects__card--img img {
  max-width: 100%;
  max-height: 100%;
}

.projects__card--text {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  width: 100%;
  height: 30vh;
  margin-top: 25px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__card--title {
  width: 70%;
  margin-top: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 32px;
  color: #172b4d;
}

.projects__card--tags {
  margin-top: 16px;
}

.projects__card--tags ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.projects__card--tags ul li {
  width: auto;
  height: 32px;
  padding: 8px 12px;
  background-color: rgba(235, 240, 238, 1);
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.65em;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(58, 74, 66, 1);
}

.projects__card--text button {
  margin-top: 29px;
}

/* Project's modal window */
.projects__modal--conatiner {
  border-radius: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
  width: 80%;
  max-width: 80%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__modal--conatiner.active {
  transform: translate(-50%, -50%) scale(1);
}

.projects__modal--body {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__modal--hero {
  border-radius: 8px;
  margin-top: 8px;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url(./assets/modal_hero_bkg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.close-modal {
  width: 30%;
  margin-top: 19px;
  margin-right: -14px;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.close-modal-desk {
  display: none;
}

.projects__modal--title {
  margin-left: 7px;
  margin-top: 8px;
  width: 90%;
  text-align: left;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 44px;
  color: rgba(23, 43, 77, 1);
}

.projects__modal--tags {
  width: 100%;
  height: max-content;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__modal--tags ul {
  width: 95%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.projects__modal--tags ul li {
  width: auto;
  height: 32px;
  padding: 8px 12px;
  background-color: rgba(235, 240, 238, 1);
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.65em;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(58, 74, 66, 1);
}

.projects__modal--tags-boot,
.projects__modal--tags-ter,
.projects__modal--tags-code {
  display: none;
}

.projects__modal--text {
  width: 95%;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  text-align: justify;
  color: rgba(52, 69, 99, 1);
}

.projects__modal--actions {
  margin-top: 10px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
}

.projects__modal--actions button {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projects__modal--actions button img {
  width: 13%;
  height: auto;
  margin-top: 2px;
  margin-left: 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  background-color: rgba(193, 199, 208, 1);
}

/* Button's styles */
.action-btn {
  border: none;
  border-radius: 4px;
  width: 122px;
  height: 48px;
  background-color: rgba(54, 179, 127, 1);
  text-align: center;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
}

.action-btn:hover {
  background-color: rgba(54, 179, 127, 1);
  box-shadow: 0 12px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.action-btn:active {
  background-color: rgba(0, 133, 82, 1);
  box-shadow: 0 0 0 0;
}

/* About me section */
.about {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__headline {
  width: 100%;
  height: 70vh;
  background-image: url(./assets/back_about_mobile.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-attachment: fixed;
}

.about__headline--title {
  margin-top: 65px;
  font-style: normal;
  font-size: 2.5em;
  line-height: 52px;
  text-align: center;
  font-weight: 700;
  color: rgba(23, 43, 77, 1);
}

.about__headline--text {
  width: 70%;
  margin-top: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 32px;
  text-align: center;
  color: rgba(66, 82, 110, 1);
}

.about__headline button {
  margin-top: 40px;
  width: 153px;
}

.about__card-container {
  margin-top: 10px;
  width: 100%;
  display: grid;
  justify-items: center;
  padding-bottom: 50px;
}

.about__card {
  width: 90%;
  height: max-content;
  margin-top: 15px;
  padding-bottom: 50px;
}

.about__card--item {
  border: solid 1px rgba(193, 199, 208, 1);
  border-radius: 8px;
  background-color: rgba(235, 240, 238, 1);
  margin-top: 0;
  width: 100%;
  height: 47vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__card--icon {
  margin-top: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__card--title {
  margin-top: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 32px;
  text-align: center;
  color: rgba(52, 69, 99, 1);
}

.about__card--tags {
  width: 90%;
  margin-top: 24px;
}

.about__card--tags ul {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about__card--tags ul li {
  width: auto;
  height: 40px;
  padding: 12px;
  margin: 3px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(54, 179, 126, 1);
}

/* Contact form */
.contact {
  width: 100%;
  margin-top: 15px;
  background-image: url(./assets/contact_Frame.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: right;
  background-position-y: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-attachment: scroll;
}

.contact__headline {
  width: 90%;
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.contact__container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__container ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__container--names {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: -20px;
  padding-right: -20px;
}

#last-name {
  display: none;
}

.contact__container--names-full {
  width: 100%;
  padding-right: 0;
}

.contact__container ul li {
  width: 100%;
  margin-top: 10px;
}

.contact__container li input {
  border: solid 1px rgba(208, 217, 212, 1);
  width: 100%;
  height: 48px;
  padding-left: 15px;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: rgba(107, 119, 140, 1);
}

.contact__container li label {
  display: none;
}

#first-name {
  display: none;
}

.contact__container ul li textarea {
  width: 100%;
  height: 114px;
  border: solid 1px rgba(96, 192, 149, 1);
  padding-left: 15px;
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: rgba(66, 82, 110, 1);
}

.contact__container--btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact__container li button {
  border-radius: 4px;
}

.contact__mail {
  margin-top: 31px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 32px;
  text-align: center;
  color: rgba(66, 82, 110, 1);
}

/* Footer */
.footer {
  width: 100%;
  margin-top: 29px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}

/* 480 px */
@media (min-width: 480px) {
  .header {
    width: 100%;
    position: fixed;
  }

  .header img {
    width: 70%;
    margin-right: 20px;
  }

  .header__nav {
    width: 100%;
  }

  /* Mobile menu */

  .icon-menu {
    margin-top: 10px;
  }

  .menu__item--close {
    width: 5%;
    margin-left: 400px;
  }

  .menu__link {
    color: rgba(58, 74, 66, 1);
    font-style: normal;
    font-size: 2rem;
    font-weight: 600;
    line-height: 4.5rem;
  }

  .headline-container {
    width: 100%;
    height: 99vh;
    margin: 0 auto;
    background-size: auto;
  }

  .headline {
    width: 90%;
  }

  .headline__title--black {
    width: 39%;
    margin-top: 130px;
  }

  .headline__text {
    width: 75%;
    margin-top: 25px;
  }

  .social-icons {
    margin-top: 15px;
  }

  .headline__action {
    margin-top: 50px;
  }

  .projects {
    margin-top: 25px;
  }

  .projects-container {
    width: 90%;
  }

  .projects__card {
    width: 85%;
  }

  /* Project's modal window */
  .projects__modal--conatiner {
    height: max-content;
  }

  .projects__modal--body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects__modal--hero {
    margin-top: 18px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .close-modal {
    width: 30%;
    margin-top: 5px;
    margin-right: -20px;
    font-size: 2rem;
  }

  .projects__modal--title {
    margin-left: 10px;
    margin-top: 8px;
  }

  .projects__modal--tags {
    width: 95%;
  }

  .projects__modal--tags ul {
    width: 95%;
    margin-top: 5px;
    margin-left: -15px;
    gap: 15px;
  }

  .projects__modal--tags ul li {
    width: auto;
    height: 32px;
    padding: 8px 12px;
  }

  .projects__modal--actions {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .projects__modal--actions button {
    width: 45%;
  }

  .about {
    margin-top: 25px;
  }

  .about__headline {
    width: 90%;
    background-size: auto;
  }

  .about__headline--text {
    width: 63%;
  }

  .about__card-container {
    width: 90%;
    display: grid;
    justify-items: center;
  }

  .about__card {
    width: 85%;
  }

  .contact__headline {
    width: 72%;
  }

  .contact__container {
    width: 80%;
    height: fit-content;
    margin-top: 30px;
  }

  .contact__container--btn {
    margin-bottom: 5px;
  }

  .contact__mail {
    margin-top: 10px;
  }

  .footer {
    margin-top: 10px;
  }
}

/* 600 px */
@media (min-width: 600px) {
  .header {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  /* Mobile menu */

  .menu {
    margin-left: 20px;
  }

  .icon-menu {
    margin-top: 10px;
  }

  .menu__item--close {
    width: 5%;
    margin-left: 500px;
  }

  .menu__link {
    color: rgba(58, 74, 66, 1);
    font-style: normal;
    font-size: 2rem;
    font-weight: 600;
    line-height: 4.5rem;
  }

  .headline-container {
    width: 100%;
    height: 99vh;
    margin-top: 0;
    background-size: 70%;
  }

  .headline {
    width: 95%;
    height: 95vh;
  }

  .headline__title--black {
    width: 29%;
    margin-top: 130px;
  }

  .headline__title--green {
    width: 40%;
  }

  .headline__text {
    width: 50%;
    margin-top: 25px;
  }

  .social-icons {
    margin-top: 15px;
  }

  .headline__action {
    width: 30vw;
    margin-top: 50px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .projects {
    margin-top: 25px;
  }

  .projects__title {
    width: 50%;
  }

  .projects-container {
    width: 95%;
  }

  .projects__card {
    width: 75%;
  }

  /* Project's modal window */
  .projects__modal--body {
    width: 95%;
  }

  .projects__modal--hero {
    width: 95%;
  }

  .projects__modal--title {
    margin-left: 10px;
  }

  .projects__modal--tags ul {
    width: 95%;
    margin-left: -25px;
  }

  .projects__modal--actions button {
    width: 45%;
  }

  .about {
    margin-top: 25px;
  }

  .about__headline {
    width: 95%;
    background-size: auto;
  }

  .about__headline--text {
    width: 55%;
  }

  .about__card-container {
    width: 95%;
    display: grid;
    justify-items: center;
  }

  .about__card {
    width: 75%;
    height: max-content;
    padding-bottom: 50px;
  }

  .about__headline--icon img {
    margin-top: 3px;
  }

  .about__card--tags {
    width: 80%;
  }

  .contact__headline {
    width: 55%;
  }

  .contact__container {
    width: 75%;
    height: fit-content;
    margin-top: 30px;
  }

  .contact__container ul {
    width: 85%;
  }

  .contact__container--btn {
    margin-bottom: 5px;
  }

  .contact__mail {
    margin-top: 10px;
  }

  .footer {
    margin-top: 10px;
  }
}

/* 768 px */
@media (min-width: 768px) {
  .hero-container {
    background-image: url(./assets/Header-llustration-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .header__nav {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: min-content;
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
  }

  .top-bar {
    display: none;
  }

  .icon-menu,
  .icon-menu__bar {
    display: none;
  }

  .menu {
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(0);
    gap: 15px;
  }

  .menu__item--close {
    display: none;
  }

  .menu__link {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 20px;
    color: #172b4d;
    padding: 0;
  }

  .headline-container {
    background-image: none;
    height: 75vh;
  }

  .headline__title {
    width: 50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .headline__title--black {
    width: 100%;
  }

  .headline__title--green {
    width: 80%;
  }

  .headline__text {
    width: 65%;
    margin-top: 15px;
  }

  .social-icons ul {
    width: 30vw;
    margin-top: 50px;
  }

  .projects {
    margin-top: 30px;
  }

  .projects__indicator {
    display: none;
  }

  .projects-container {
    width: 95%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    column-gap: 10px;
  }

  .projects__card {
    width: 100%;
  }

  /* Project's modal window */
  .projects__modal--conatiner {
    width: 70%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .projects__modal--body {
    margin-bottom: 30px;
    margin-top: 10px;
    width: 90%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "close close close close"
      "hero hero hero hero"
      "title title actions actions"
      "tags tags tags tags"
      "text text text text";
  }

  .projects__modal--hero {
    display: flex;
    border-radius: 8px;
    margin-top: 5px;
    width: 100%;
    height: 35vh;
    grid-area: hero;
    background-image: url(./assets/modal_hero_desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .close-modal {
    display: none;
  }

  .close-modal-desk {
    display: inline;
    grid-area: close;
    justify-self: end;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    width: 30px;
    height: 30px;
    background: #ebecf0;
    margin-top: 0;
    margin-right: 0;
    border-radius: 4px;
    mix-blend-mode: multiply;
    color: rgba(103, 121, 142, 1);
    font-size: 20px;
  }

  .projects__modal--title {
    grid-area: title;
    width: 100%;
    font-size: 1rem;
  }

  .projects__modal--tags {
    grid-area: tags;
    width: 90%;
  }

  .projects__modal--tags ul {
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
  }

  .projects__modal--tags ul li {
    width: auto;
    font-size: 0.5rem;
  }

  .projects__modal--tags-boot,
  .projects__modal--tags-ter,
  .projects__modal--tags-code {
    display: inline-flex;
  }

  .projects__modal--text {
    grid-area: text;
    text-align: justify;
    font-size: 0.6rem;
  }

  .projects__modal--text br {
    display: none;
  }

  .projects__modal--actions {
    grid-area: actions;
    width: 100%;
    margin-right: 1px;
    padding: 0;
    justify-self: end;
    justify-content: flex-end;
  }

  .projects__modal--actions button {
    width: 35%;
    height: 3vh;
    font-size: 0.55rem;
  }

  .about__card--icon img {
    height: auto;
    margin-top: 10px;
  }

  .projects__modal--actions button img {
    width: 20%;
    height: 40%;
    margin-top: 2px;
    margin-left: 3px;
  }

  .about {
    height: max-content;
  }

  .about__headline {
    width: 95%;
    height: 50vh;
    background-image: url(./assets/about_bkg_desktop.png);
    background-size: contain;
    background-position: center;
    overflow-y: hidden;
  }

  .about__headline--text {
    width: 67%;
  }

  .about__card-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .about__card {
    width: 32%;
    height: max-content;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .about__card--item {
    width: 100%;
    align-items: center;
    overflow: hidden;
  }

  .about__card--icon {
    height: fit-content;
    margin-top: 3px;
  }

  .about__card--title {
    margin-top: 5px;
    font-size: 0.99em;
  }

  .about__card--tags {
    width: 100%;
  }

  .about__card--tags ul {
    width: 100%;
    height: max-content;
  }

  .about__card--tags ul li {
    font-size: 0.49em;
  }

  .contact {
    height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1px;
    background-image: url(./assets/contact_bkg_3_desktop_grouped.png);
    background-size: 124vw;
    background-position: bottom -3px left -85px;
    overflow-x: hidden;
  }

  .contact__headline {
    width: 30%;
    font-size: 1em;
    text-align: justify;
    line-height: 25px;
    margin-left: 25px;
    margin-bottom: 85px;
  }

  .contact__container {
    width: 59%;
    margin-right: 8px;
  }

  .contact__container ul {
    width: 100%;
    margin-left: 10px;
  }

  #last-name {
    display: inline;
  }

  .contact__container--names {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
  }

  .contact__container--btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact__mail {
    display: none;
  }

  .footer {
    border-top: solid rgba(223, 225, 230, 1) 1px;
    margin-top: 3px;
    width: 100%;
  }
}

/* 1024 px */
@media (min-width: 1024px) {
  .hero-container {
    background-image: url(./assets/Header-llustration-desktop.png);
    background-repeat: no-repeat;
    background-size: 83vmax;
    background-position: top;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 5vh;
    margin-top: -2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .header__nav {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: min-content;
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
  }

  .menu {
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(0);
    gap: 35px;
  }

  .menu__link {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 20px;
    color: #172b4d;
    padding: 0;
  }

  .headline-container {
    background-image: none;
    height: 75vh;
  }

  .headline__title {
    width: 40%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-size: 2.2em;
    text-align: center;
  }

  .headline__text {
    width: 54%;
    margin-top: 15px;
    font-size: 1em;
  }

  .social-icons ul {
    width: 25vw;
    margin-top: 5px;
  }

  .projects {
    margin-top: 30px;
  }

  .projects__indicator {
    display: none;
  }

  .projects-container {
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    column-gap: 10px;
  }

  .projects__card {
    width: 100%;
  }

  /* Project's modal window */
  .projects__modal--conatiner {
    width: 70%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .projects__modal--body {
    margin-bottom: 30px;
    margin-top: 10px;
    width: 90%;
    height: fit-content;
  }

  .projects__modal--hero {
    width: 100%;
    height: 40vh;
  }

  .close-modal {
    display: none;
  }

  .projects__modal--title {
    grid-area: title;
    width: 100%;
    font-size: 1.21rem;
  }

  .projects__modal--tags {
    grid-area: tags;
    width: 90%;
  }

  .projects__modal--tags ul {
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
  }

  .projects__modal--tags ul li {
    width: auto;
    font-size: 0.55rem;
  }

  .projects__modal--text {
    font-size: 0.65rem;
  }

  .projects__modal--actions button {
    width: 38%;
    height: 3vh;
    font-size: 0.75rem;
  }

  .about__headline {
    width: 100%;
    height: 50vh;
    background-image: url(./assets/about_bkg_desktop.png);
    background-size: contain;
    background-position: center;
    overflow-y: hidden;
  }

  .about__headline--text {
    width: 60%;
    font-size: 1.1em;
  }

  .about__card-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .about__card {
    width: 32%;
    overflow-x: hidden;
  }

  .about__card--item {
    width: 100%;
    align-items: center;
    overflow-x: hidden;
  }

  .about__card--icon {
    height: fit-content;
    margin-top: 3px;
  }

  .about__card--icon img {
    height: auto;
    margin-top: 5px;
  }

  .about__card--title {
    font-size: 0.99em;
  }

  .about__card--tags {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__card--tags ul {
    width: 90%;
  }

  .about__card--tags ul li {
    font-size: 0.59em;
  }

  .contact {
    height: 85vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1px;
    background-image: url(./assets/contact_bkg_3_desktop_grouped.png);
    background-size: 124vw;
    background-position: bottom -1px left -125px;
    overflow-x: hidden;
  }

  .contact__headline {
    width: 35%;
    font-size: 1.25em;
    text-align: justify;
    line-height: 25px;
    margin-left: 25px;
    margin-bottom: 200px;
  }

  .contact__container {
    width: 69%;
    margin-right: 8px;
    margin-bottom: 150px;
  }

  .contact__container--btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .contact__container--btn li button {
    margin: 0;
  }

  .contact__mail {
    display: none;
  }

  .footer {
    border-top: solid rgba(223, 225, 230, 1) 1px;
    margin-top: 3px;
    width: 100%;
  }
}

/* 1200 px */
@media (min-width: 1200px) {
  .hero-container {
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
  }

  .projects {
    margin-top: 30px;
    height: max-content;
    width: 100%;
  }

  .projects__card {
    width: 90%;
  }

  /* Project's modal window */
  .projects__modal--conatiner {
    width: 70%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .projects__modal--body {
    margin-bottom: 30px;
    margin-top: 10px;
    width: 90%;
    height: fit-content;
  }

  .projects__modal--hero {
    width: 100%;
    height: 48vh;
  }

  .close-modal {
    display: none;
  }

  .projects__modal--title {
    grid-area: title;
    width: 100%;
    font-size: 1.5rem;
  }

  .projects__modal--tags {
    grid-area: tags;
    width: 90%;
  }

  .projects__modal--tags ul li {
    width: auto;
    font-size: 0.65rem;
  }

  .projects__modal--text {
    font-size: 0.8rem;
  }

  .projects__modal--actions button {
    width: 38%;
    height: 4vh;
    font-size: 0.8rem;
  }

  .about {
    width: 100%;
  }

  .about__card {
    width: 29%;
    height: 50vh;
    overflow: hidden;
  }

  .about__card--icon {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .about__card--icon img {
    width: 140%;
  }

  .about__card--tags ul {
    width: 85%;
  }

  .about__card--tags ul li {
    font-size: 0.69em;
  }

  .contact {
    width: 100%;
    background-size: 115vw;
    background-position: bottom -3px left -85px;
    overflow: hidden;
  }

  .contact__headline {
    font-size: 1.51em;
  }

  .contact__container {
    width: 55%;
    margin-right: 8px;
    margin-bottom: 150px;
  }

  .contact__container--btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .footer {
    border-top: solid rgba(223, 225, 230, 1) 1px;
    margin-top: 3px;
    width: 100%;
  }
}
